body {
    font-family: Arial;
    background: #121212;
    color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #444;
  }
  
  input {
    margin: 5px;
    padding: 8px;
  }
  
  button {
    padding: 6px 12px;
    cursor: pointer;
  }
  